# int8
bitsandbytes==0.37.1
# bitsandbytes==0.38.0
accelerate==0.17.1

# chatglm
protobuf>=3.19.5,<3.20.1
transformers==4.27.1
icetk
cpm_kernels==1.0.11
torch>=1.13.1
tensorboard

# 
datasets==2.10.1
# git+https://github.com/huggingface/peft.git  # 最新版本 >=0.3.0.dev0
